.title{
     font-size: 100px;
    color: #123AAA;
    font-family: system-ui;
    position: inherit;
}

.nombre{
    font-size: 50x;
    color: #123BBB;
    font-family: system-ui;
    position: inherit;
    
}