<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  
  <div>
      <label class='title'>EQUIPO 2</label>
  </div>

  <div>
     <label class='nombre'>1. Martin Enrique Chilpa Navarro </label>
  </div>
  
  <div>
      <label class='nombre'>2. Julio Alejandro Mendoza Ibáñez </label>
    
  </div>
 
 
 <div>
   
     <label class='nombre'>3. Mauricio Huerta Díaz </label>
 </div>



</ion-content>
